@import "./parciales/reset";
@import "./parciales/nav";
@import "./parciales/main";
@import "./parciales/contacto";
@import "./parciales/nosotros";
@import "./parciales/servicios";
@import "./parciales/footer";
@import "./parciales/mediqueries";


