* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.navbar {
  padding: 10px 20px;
  background: linear-gradient(86deg, rgba(172, 221, 53, 0.647496) 0%, rgba(0, 212, 255, 0.221726) 67%); }

.nav__logo {
  width: 80px;
  height: 80px;
  margin: 10px; }

.nav-link {
  background: transparent;
  border-bottom: solid 2px #3fa6e2;
  padding: 10px 30px;
  text-decoration: none;
  color: #3fa6e2;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: backgroumd 0.5s color 0.4s;
  transition: backgroumd 0.5s color 0.4s;
  font-size: 1rem;
  display: block; }
  .nav-link:hover {
    background: #3fa6e2;
    color: #fff;
    border-radius: 4px; }

.body {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh; }

.main {
  height: 100%; }
  .main h2 {
    padding: 10px;
    color: #3fa6e2;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px; }

.article__1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 2rem; }

.article__2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 2rem; }

.article__3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 2rem; }

.articulos {
  color: #000;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  .articulos__titulos {
    color: #000;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .articulos__imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 290px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .articulos__imagen:hover {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg); }

.boton, .boton--enviar, .boton--limpiar {
  background: transparent;
  border-bottom: solid 2px #3fa6e2;
  padding: 10px 30px;
  text-decoration: none;
  color: #12181b;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: backgroumd 0.5s color 0.4s;
  transition: backgroumd 0.5s color 0.4s;
  font-size: 1rem;
  border-radius: 4px; }
  .boton:hover, .boton--enviar:hover, .boton--limpiar:hover {
    background: #3fa6e2;
    color: #fff;
    border-radius: 4px; }

.boton--enviar {
  background: #a3eeb0; }

.boton--limpiar {
  background: #f5c0c0; }

.sectionForm {
  width: auto; }

.tituloForm {
  padding-top: 15px;
  font-size: 30px;
  color: #52a3ee;
  text-align: center; }
  @media screen and (max-width: 320px) {
    .tituloForm {
      font-size: 20px; } }

.formulario {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none; }
  input:hover {
    background: #b3aca7;
    color: #e2dedb; }

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7; }
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb; }

.nosotros__imagen {
  width: 100%; }

.img__nosotros {
  width: 20%;
  height: 20%; }

.nosotros__contenido {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.nosotros__titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem; }

.nosotros__texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem; }

#servicios__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  gap: 50px; }

#servicios__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  gap: 50px; }

#servicios__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  gap: 50px; }

.servicios__contenido {
  width: 50%;
  padding: 10px; }

.servicios__titulos {
  color: #000;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.servicios__texto {
  padding: 10px;
  color: #726659;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.servicios__imagen1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px; }

.servicios__imagen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px; }

.servicios__imagen3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px; }

.servicios__lista {
  padding: 10px 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2rem;
  color: #3fa6e2; }

.footer {
  background: linear-gradient(86deg, rgba(172, 221, 53, 0.647496) 0%, rgba(0, 212, 255, 0.221726) 67%);
  bottom: 0;
  width: 100%;
  height: 140px; }
  .footer p {
    color: #000;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px; }

@media screen and (max-width: 425px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .header__logo {
      width: 8em;
      height: 8em;
      margin: 15px; }
  .main__servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .articulos__titulos {
    font-size: 1.2em; }
  .articulos {
    font-size: 0.7em; }
  /* media queries nosotros.html*/
  .img__nosotros {
    width: 20%;
    height: 20%; }
  /* media queries servicios.html */
  #servicios__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    gap: 10px; }
  #servicios__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    gap: 10px; }
  #servicios__3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    gap: 10px; }
  .servicios__contenido {
    width: 100%; }
  .servicios__titulos {
    color: #000;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .servicios__texto {
    padding: 10px;
    color: #726659;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .servicios__imagen1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px; }
  .servicios__imagen2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px; }
  .servicios__imagen3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px; }
  .servicios__lista {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    color: #3fa6e2; }
  /* media queries contacto.html*/
  .formulario {
    position: relative;
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  input {
    width: 280px; }
  textarea {
    width: 280px;
    max-width: 280px; } }

@media screen and (max-width: 768px) {
  /* media queries servicios.html */
  .servicios__imagen1 {
    width: 200px;
    height: 200px; }
  .servicios__imagen2 {
    width: 200px;
    height: 200px; }
  .servicios__imagen3 {
    width: 200px;
    height: 200px; }
  .servicios__lista {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    color: #3fa6e2; } }
/*# sourceMappingURL=estilossass.css.map */