@import "./botones";
@import "./responsivemixins";

.tituloForm {
  padding-top: 15px;
  font-size: 30px;
  color: rgb(82, 163, 238);
  text-align: center;
  
  @include movil {
    font-size: 20px;
  }
}
.formulario {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    &:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
  }
  
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    &:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
   }
  
  
 
  