.formulario {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    & :hover {
      background: #b3aca7;
      color: #e2dedb;
    }
  }
  
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    & :hover {
      background: #b3aca7;
      color: #e2dedb;
    }
   }
  
  
  #submit {
    background: transparent;
    border-bottom: solid 2px #3fa6e2;
    padding: 10px 30px;
    text-decoration: none;
    color: #3fa6e2;
    font-family: Arial, Helvetica, sans-serif;
    transition: backgroumd 0.5s color 0.4s;
    font-size: 1rem;
    display: block;
    
    & :hover {
    
      background: #3fa6e2;
      color: #fff;
      border-radius: 4px;
    }
    
  }
  