@import "./variables";

.footer{
    
    background: $background-main;
    bottom: 0;
    width: 100%;
    height: 140px;
   
    & p {
    
        color: #000;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 10px;
        
      
    }
}



