@import "./variables";

.footer{
    
    background: $background-main;
    bottom: 0;
    width: 100%;
    height: 140px;
    & h3 {
        padding: 2rem;
        color: #000;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    & p {
    
        color: #000;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 10px;
      
    }
}



