.body{
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
 
 }
.main{
    height: 100% ; 
   
    & h2 {
        padding: 10px;
        color: #3fa6e2;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 30px;
    }
}


.article__1{
    flex: 1 1 100%;
    padding: 2rem;
   
}
.article__2{
    flex: 1 1 100%;
    padding: 2rem;
    
}
.article__3{
    flex: 1 1 100%;
    padding: 2rem;
}


.articulos{
    
    color: #000;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    &__titulos{
        color: #000;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        
    }
    
    &__imagen{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 290px;
        height: 290px;
        transition: transform 0.5s;
        
        & :hover{
            transform: rotate(2deg);
        }
    }
}
