@import "./variables";

.navbar{
    padding: 10px 20px;
    background: $background-main;
 
}
.nav__logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.nav-link{
    background: transparent;
    border-bottom: solid 2px #3fa6e2;
    padding: 10px 30px;
    text-decoration: none;
    color: #3fa6e2;
    font-family: Arial, Helvetica, sans-serif;
    transition: backgroumd 0.5s color 0.4s;
    font-size: 1rem;
    display: block;
    & :hover{
        background: #3fa6e2;
        color: #fff;
        border-radius: 4px;
    }
}