.nosotros__section{
    color: #726659;
    padding: 40px 40px;
    gap: 50px;
    align-items: center;
        
}
.nosotros__imagen{
    width: 100%;
  
}
.img__nosotros{
    width: 40%;
    height: 40%;
}
.nosotros__contenido{
    flex-basis: 100%;
  
}
.nosotros__titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;      
}
.nosotros__texto{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;      
}