

.nosotros__imagen{
    width: 100%;
  
}
.img__nosotros{
    width: 20%;
    height: 20%;
}
.nosotros__contenido{
    flex-basis: 100%;
  
}
.nosotros__titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;      
}
.nosotros__texto{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;      
}