#servicios__1{
    display: flex;
    padding: 2rem;
    gap: 50px;
   
}
#servicios__2{
    display: flex;
    padding: 2rem;
    gap: 50px;
    
}
#servicios__3{
   display: flex;
    padding: 2rem;
    gap: 50px;
}
.servicios__contenido{
    width: 50%;
    padding: 10px;

}
.servicios__titulos{
    color: #000;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.servicios__texto{
    padding: 10px;
    color: #726659;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.servicios__imagen1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.servicios__imagen2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.servicios__imagen3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.servicios__lista{
    padding: 10px 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 1.2rem;
    color: #3fa6e2;
}